.card {
  border: 1px solid #e8e8e8;
  color: rgba(0, 0, 0, 0.65);
  width: 295px;
  font-family: "Manrope", serif;
  transition: 0.3s linear;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 2px 2px rgba(232, 228, 228, 0.65);
  }

  &__header {
    padding: 16px 0 16px 26px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    font-style: normal;
    border-bottom: 1px solid #e8e8e8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__info {
    height: 204px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
    max-height: 120px;
    overflow: hidden;
  }

  &__line {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }

  &__author {
    padding: 0 13px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
    background-color: #092433;
    border-radius: 10px;
    color: white;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__data {
    border: 1px solid #e8e8e8;
    padding: 0 8px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
    border-radius: 10px;
    color: #595959;
    margin-right: 10px;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 640px) {
  .card {
    width: 359px;
  }
}
