.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 138px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 2;

  &__logo {
    width: 74px;
    height: 40px;
    object-fit: cover;
    object-position: center;
  }

  &__info {
    display: flex;
    align-items: center;
    font-family: "Manrope", serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.65);
  }

  &__text {
    margin-left: 44px;
  }

  &__icon {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 24px 50px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 12px 15px;

    &__logo {
      width: 60px;
      height: 32px;
    }

    &__text {
      margin-left: 17px;
    }
  }
}

@media screen and (max-width: 425px) {
  .header {
    &__text {
      display: none;
    }

    &__icon {
      display: block;
      margin-left: 17px;
    }
  }
}
